<h1>Edit Artist</h1>

<%= form_for @artist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :bio %>
  <%= f.text_field :bio %>

  <%= f.label :location %>
  <%= f.check_box :location %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :genre %>
  <%= f.text_field :genre %>

  <%= f.label :awards %>
  <%= f.text_field :awards %>

  <%= f.submit %>
<% end %>
